*, :after, :before {
    box-sizing: border-box;
}
    html{
        scroll-behavior: smooth !important;
    }
    body{
        font-size: 14px !important;
        font-family: 'Noto Sans Bengali', sans-serif !important;
        font-family: 'Poppins', sans-serif !important;
        margin: auto;
        padding: auto;
        overflow-x: hidden;
        overflow-y: scroll;
    }
/* ===========================================================MOBILE RESPONSIVE================================================= */

/* =====Nav Bar Start====== */
.active:hover{
    color: #083f88!important;
}
@media (min-width: 320px) {
    #web_logo {
        width: 180px;
    }
    .side_bars{
        display:none !important;
      }
  }

  @media (min-width: 480px) {
    #web_logo {
        width: 220px;
    }
    .side_bars{
        display:none !important;
      }
  }

  @media (min-width: 768px) {
    #web_logo {
        width: 220px;
    }
    .side_bars{
        display: none !important;
      }
  }

  @media (min-width: 992px) {
    .web_logo {
        width: 250px;
    }
    .side_bars{
        display:none !important;
      }
}
  
  @media (min-width: 1024px) {
    #web_logo {
        width: 280px;
    }
    .side_bars{
        display: block !important;
      }
  }
  
  @media (min-width: 1200px) {
    #web_logo {
        width: 280px;
    }
    .side_bars{
        display: block !important;
      }
  }
  
  @media (min-width: 1440px) {
    #web_logo {
        width: 320px;
    }
    .side_bars{
        display: block !important;
      }
  }

  
.side_bars:focus{
    color: #939393;
    background-color: #ffffffff;
    border-color: inherit;
    outline: 0;
    box-shadow: none !important;
}
.btn-close{
    color: #939393;
    background-color: #ffffffff;
    border-color: inherit;
    outline: 0;
    box-shadow: none !important;
}

  .nav-option{
    margin-right: 15px;
  }


  @media all and (min-width: 992px) {
    .navbar .dropdown-menu-end { right: 0; left: auto; }
    .navbar .nav-item .dropdown-menu { display: block; opacity: 0; visibility: hidden; transition: .7s; margin-top: 0; }
    .navbar .dropdown-menu.fade-down { top: 80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up { top: 100%; }
    .navbar .nav-item:hover .dropdown-menu { transition: .7s; opacity: 1; visibility: visible; top: 100%; transform: rotateX(0deg); }
  }

.dropdown-item:hover{
    background-color: #083f88 !important;
    color: #ffffffff !important;
    border-radius: 5px;
    width: 230px;
}
.dropdown-box-item{
    width: 250px;  
    padding: 10px !important;
    transition: 0.3s;
}
.dropdown-item{
    font-size: 14px;
    padding: 10px !important;
    transition: 0.5s;
}

#bar{
    background-color: #083f88;
}
#bar:hover{
    background-color: #00243A;
}
  @media (min-width: 992px) {
    
  }

  .offcanvas_text{
    text-align: justify;
  }

  #offcanvas_image{
    max-width: 100%;
  }
/* =====Nav Bar End====== */


/* =====Second Part Start ====== */

/* mobile responsive */
@media (min-width: 320px){
    body{
        padding-top: 3.5rem;
    }
    .first_part_title{
        font-family: 'K2D', sans-serif;
        font-size: 18px !important;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .first_part_para{
        font-family: 'K2D', sans-serif !important;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .elevate_section_link{
        text-decoration: none;
        background-color: #083f88;
        color: #ffffffff;
        padding: 5px 12px 5px 12px;
        border-radius: 5px;
        font-size: 11px;
        transition: background-color .3s ease-out 100ms;
    }
    .elevate_section_link:hover{
        background-color: #00243A;
        color: #ffffffff;
    }
    #first_part_bg{
        width: 100%;
        padding-top: 38px !important;
    }
}


@media (min-width: 400px){
    body{
        padding-top: 3.5rem;
    }
    .first_part_title{
        font-family: 'K2D', sans-serif;
        font-size: 22px !important;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .first_part_para{
        font-family: 'K2D', sans-serif !important;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .elevate_section_link{
        text-decoration: none;
        background-color: #083f88;
        color: #ffffffff;
        padding: 8px 16px 8px 16px;
        border-radius: 5px;
        font-size: 13px;
        transition: background-color .3s ease-out 100ms;
    }
    .elevate_section_link:hover{
        background-color: #00243A;
        color: #ffffffff;
    }
    #first_part_bg{
        width: 100%;
        padding-top: 38px !important;
    }
}

@media (min-width: 480px){
    body{
        padding-top: 3.5rem;
    }
    .first_part_title{
        font-family: 'K2D', sans-serif;
        font-size: 22px !important;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .first_part_para{
        font-family: 'K2D', sans-serif !important;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .elevate_section_link{
        text-decoration: none;
        background-color: #083f88;
        color: #ffffffff;
        padding: 8px 16px 8px 16px;
        border-radius: 5px;
        font-size: 13px;
        transition: background-color .3s ease-out 100ms;
    }
    .elevate_section_link:hover{
        background-color: #00243A;
        color: #ffffffff;
    }
    #first_part_bg{
        width: 100%;
        padding-top: 38px !important;
    }
}

@media (min-width: 768px){
    .first_part_title{
        font-family: 'K2D', sans-serif;
        font-size: 22px !important;
        font-weight: 800;
        margin-top: 58px;
        margin-bottom: 32px;
    }
    .first_part_para{
        font-family: 'K2D', sans-serif !important;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .elevate_section_link{
        text-decoration: none;
        background-color: #083f88;
        color: #ffffffff;
        padding: 10px 22px 10px 22px;
        border-radius: 5px;
        font-size: 13px;
        transition: background-color .3s ease-out 100ms;
    }
    .elevate_section_link:hover{
        background-color: #00243A;
        color: #ffffffff;
    }
    #first_part_bg{
        width: 100%;
        padding-top: 38px !important;
    }
}

@media (min-width: 1024px){
    body{
        padding-top: 6.5rem;
    }
    .first_part_title{
        font-family: 'K2D', sans-serif;
        font-size: 30px !important;
        font-weight: 800;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .first_part_para{
        font-family: 'K2D', sans-serif !important;
        font-size: 20px;
        margin-bottom: 40px;
    }
    .elevate_section_link{
        text-decoration: none;
        background-color: #083f88;
        color: #ffffffff;
        padding: 12px 25px 12px 25px;
        border-radius: 5px;
        font-size: 13px;
        transition: background-color .3s ease-out 100ms;
    }
    .elevate_section_link:hover{
        background-color: #00243A;
        color: #ffffffff;
    }
    #first_part_bg{
        width: 100%;
        padding-top: 38px !important;
    }
}

@media (min-width: 1200px){
    .first_part_title{
        font-family: 'K2D', sans-serif;
        font-size: 40px !important;
        font-weight: 800;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .first_part_para{
        font-family: 'K2D', sans-serif !important;
        font-size: 22px;
        margin-bottom: 89px;
    }
    .elevate_section_link{
        text-decoration: none;
        background-color: #083f88;
        color: #ffffffff;
        padding: 15px 30px 15px 30px;
        border-radius: 5px;
        font-size: 13px;
        transition: background-color .3s ease-out 100ms;
    }
    .elevate_section_link:hover{
        background-color: #00243A;
        color: #ffffffff;
    }
}

@media (min-width: 1440px){
    .first_part_title{
        font-family: 'K2D', sans-serif;
        font-size: 44px !important;
        font-weight: 800;
        margin-top: 110px;
        margin-bottom: 70px;
    }
    .first_part_para{
        font-family: 'K2D', sans-serif !important;
        font-size: 22px;
        margin-bottom: 89px;
    }
    .elevate_section_link{
        text-decoration: none;
        background-color: #083f88;
        color: #ffffffff;
        padding: 15px 30px 15px 30px;
        border-radius: 5px;
        font-size: 13px;
        transition: background-color .3s ease-out 100ms;
    }
    .elevate_section_link:hover{
        background-color: #00243A;
        color: #ffffffff;
    }
}


#first_part_bg{
    width: 100%;
    margin-top: 10px;
}
/* =====Second Part End ====== */


/* =====Third Part Start ====== */

@media (min-width: 320px){
    .section_title{
        text-align: center;
        font-family: 'K2D', sans-serif;
        font-size: 20px !important;
        font-weight: 800;
    }
    .third_part_para{
        text-align: justify;

    }
}

@media (min-width: 400px){
    .section_title{
        text-align: center;
        font-family: 'K2D', sans-serif;
        font-size: 22px !important;
        font-weight: 800;
    }
}

@media (min-width: 480px){
    .section_title{
        text-align: center;
        font-family: 'K2D', sans-serif;
        font-size: 22px !important;
        font-weight: 800;
    }
}

@media (min-width: 768px){
    .section_title{
        text-align: center;
        font-family: 'K2D', sans-serif;
        font-size: 22px !important;
        font-weight: 800;
    }
}

@media (min-width: 1024px){
    .section_title{
        text-align: center;
        font-family: 'K2D', sans-serif;
        font-size: 30px !important;
        font-weight: 800;
    }
}

@media (min-width: 1200px){
    .section_title{
        text-align: center;
        font-family: 'K2D', sans-serif;
        font-size: 40px !important;
        font-weight: 800;
    }
}

@media (min-width: 1440px){
    .section_title{
        text-align: center;
        font-family: 'K2D', sans-serif;
        font-size: 44px !important;
        font-weight: 800;
    }
}

.third_part_para{
    text-align: justify;
    text-align-last: center;
    max-width: 100% !important;
}
/* =====Third Part End ======= */

/* =====Fourth Part Start ==== */
.service_img{
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
}

.service_card{
    box-shadow: rgba(98, 98, 185, 0.15) 0px 2px 5px 0px, rgba(10, 10, 10, 0.05) 0px 1px 1px 0px;   
    transition: background-color .2s ease-out 100ms;
    transition: .5s ease-in-out 100ms;
    background: #ffffffff;
    border-radius: 15px;
}

.card_details{
    text-align: center;
}
.read_more_link{
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 320px){
    .card_title{
        font-size: 16px;
        font-family: 'K2D';
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }
    .second_line_br{
        display: none;
    }
    .third_card_line_br{
        display: none;
    }
}


@media (min-width: 400px){
    .card_title{
        font-size: 17px;
        font-family: 'K2D';
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }
    .second_line_br{
        display: none;
    }
}

@media (min-width: 480px){
    .card_title{
        font-size: 17px;
        font-family: 'K2D';
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }
    .second_line_br{
        display: none;
    }
}

@media (min-width: 768px){
    .card_title{
        font-size: 18px;
        font-family: 'K2D';
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }
    .second_line_br{
        display: none;
    }
}
@media (min-width: 1024px){
    .card_title{
        font-size: 20px;
        font-family: 'K2D';
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .second_line_br{
        display: block;
    }
    .third_card_line_br{
        display: block;
    }
}
@media (min-width: 1200px){
    .card_title{
        font-size: 20px;
        font-family: 'K2D';
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .second_line_br{
        display: none;
    }
    .third_card_line_br{
        display: block;
    }
}
/* =====Fourth Part End ====== */


/* ================================= Footer Start ================================= */

/* New version */
.footer_logo{
    width: 200px;
}
.follow_text{
    margin-top: 15px;
    font-size: 13px;
}
.footer_social_icon{
    padding-top: 1px !important;
    font-size: 25px;
    padding-left: 0px;
    padding-right: 7px !important;
}

h5{
    font-weight: 500 !important;
}
.footer_link{
    text-decoration: none;
    color: #ffffffff;
    font-size: 13px;
    transition: .3s;
}
.footer_link:hover{
    color: #acacac;
}
.footer_address{
    color: #ffffffff;
    font-size: 13px;
}
@media (min-width: 320px){
    .address{
        padding-left: 24px !important;
    }
}
@media (min-width: 375px){
    .address{
        padding-left: 24px !important;
    }
}
@media (min-width: 400px){
    .address{
        padding-left: 24px !important;
    }
}
@media (min-width: 1024px){
    #menu_bar{
        padding-left: 120px !important;
    }
    #footer_service{
        padding-left: 50px !important;
    }
    .footer_social_icon{
        padding-right: 1px;
    }
    .address{
        padding-left: 24px;
    }
}
@media (min-width: 1440px){
    #menu_bar{
        padding-left: 170px !important;
    }
    #footer_service{
        padding-left: 60px !important;
    }
    .address{
        padding-left: 24px !important;
    }
}

.copy_right{
    text-align: center;
    margin-bottom: 0px;
    font-size: 13px;
}
  
/* ================================= Footer End ================================= */


/* ================================= ABOUT START================================ */

/* About Us Start */
.about_us{
    text-align: justify;
}

#about_us_bg{
    margin-top: 50px !important;
    max-width: 75%;
    margin: auto;
    display: block;
}


/* ================================= ABOUT END================================ */




/* ================================= SERVICES START ================================ */

/* Recommendation Engine Start */
.recomendation_engine_bg{
    max-width: 95%;
    margin: auto;
    display: block;
    margin-top: 50px;
    transition: 0.3s;
}

.recomendation_engine_bg:hover{
    transform: scale(1.05);
}

.recomendation_engine_text{
    text-align: justify;
}

/* Recommendation Engine End */


/* ================================= SERVICES END ================================ */



/* ================================= CONTACT US START ================================ */

.form-control{
    padding: 10px !important;
    transition: 0.2s;
}
.form-control:focus{
    color: #939393;
    background-color: #ffffffff;
    border-color: inherit;
    outline: 0;
    box-shadow: none !important;
}

.btn-color{
    background-color:#083f88 !important;
    color: #ffffffff !important;
    font-size: 13px !important;
    padding: 15px !important;
}

.message_btn:focus{
    color: #939393;
    background-color: #ffffffff;
    border-color: inherit;
    outline: 0;
    box-shadow: none !important;
}

@media (min-width: 320px){
    iframe{
        width: 278px;
        height: 200px;
    }
}

@media (min-width: 375px){
    iframe{
        width: 332px;
        height: 200px;
    }
}
@media (min-width: 400px){
    iframe{
        width: 370px !important;
        height: 200px;
    }
}
@media (min-width: 425px){
    iframe{
        width: 385px !important;
        height: 200px;
    }
}

@media (min-width: 480px){
    iframe{
        width: 678px !important;
        height: 200px;
    }
}
@media (min-width: 768px){
    iframe{
        width: 678px !important;
        height: 300px;
    }
}


@media (min-width: 1024px){
    iframe{
        width: 427px !important;
        height: 400px;
    }
}
@media (min-width: 1200px){
    iframe{
        width: 778px;
        height: 400px;
    }
}
@media (min-width: 1440px){
    iframe{
        width: 606px !important;
        height: 400px;
    }
}


/* ================================= CONTACT US END ================================ */